<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <probance>
            <global>
                <enabled>1</enabled>
                <log_retention>365</log_retention>
            </global>
            <ftp>
                <enabled>1</enabled>
            </ftp>
            <flow>
                <field_separator>;</field_separator>
                <inner_field_separator>,</inner_field_separator>
                <enclosure>"</enclosure>
                <escape>\</escape>
                <date_format>Y-m-d</date_format>
                <datetime_format>Y-m-d H:i:s</datetime_format>
                <filename_suffix>2</filename_suffix>
                <numeric_format_number_decimal>2</numeric_format_number_decimal>
                <numeric_format_dec_point>.</numeric_format_dec_point>
                <numeric_format_thousand_separator>,</numeric_format_thousand_separator>
                <specific_timezone>UTC</specific_timezone>
            </flow>
            <catalog_flow>
                <enabled>1</enabled>
                <filename_product>product_catalog</filename_product>
                <filename_article>article_catalog</filename_article>
                <filename_product_tier_price>product_group_catalog</filename_product_tier_price>
                <filename_article_tier_price>article_group_catalog</filename_article_tier_price>
                <filename_product_lang>product_lang_catalog</filename_product_lang>
                <filename_article_lang>article_lang_catalog</filename_article_lang>
                <sync_mode>2</sync_mode>
                <export_type>1</export_type>
                <frequency>D</frequency>
            </catalog_flow>
            <customer_flow>
                <enabled>1</enabled>
                <filename>customer</filename>
                <sync_mode>2</sync_mode>
                <export_type>2</export_type>
                <frequency>D_H</frequency>
            </customer_flow>
            <order_flow>
                <enabled>1</enabled>
                <filename>transaction</filename>
                <status>complete,closed</status>
                <sync_mode>2</sync_mode>
                <export_type>2</export_type>
                <frequency>D_H</frequency>
            </order_flow>
            <cart_flow>
                <enabled>1</enabled>
                <filename>panier</filename>
                <sync_mode>2</sync_mode>
                <export_type>2</export_type>
                <frequency>D_H</frequency>
            </cart_flow>
            <coupon_flow>
                <enabled>0</enabled>
                <filename>promo_catalog</filename>
                <sync_mode>2</sync_mode>
                <export_type>2</export_type>
                <frequency>D</frequency>
            </coupon_flow>
            <cart_recovery>
                <landing_path>probance/cart/recovery</landing_path>
            </cart_recovery>
        </probance>
        <crontab>
            <default>
                <jobs>
                    <probance_log_rotate>
                        <schedule>
                            <cron_expr>0 0 * * *</cron_expr>
                        </schedule>
                    </probance_log_rotate>
                </jobs>
            </default>
        </crontab>
    </default>
</config>
