<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <preference for="Probance\M2connector\Api\LogRepositoryInterface" type="Probance\M2connector\Model\ResourceModel\LogRepository" />
    <preference for="Probance\M2connector\Api\Data\LogInterface" type="Probance\M2connector\Model\Log" />
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="probance_init_catalog" xsi:type="object">Probance\M2connector\Console\Command\InitCatalogCommand</item>
                <item name="probance_init_customer" xsi:type="object">Probance\M2connector\Console\Command\InitCustomerCommand</item>
                <item name="probance_init_order" xsi:type="object">Probance\M2connector\Console\Command\InitOrderCommand</item>
                <item name="probance_init_cart" xsi:type="object">Probance\M2connector\Console\Command\InitCartCommand</item>
                <item name="probance_init_coupon" xsi:type="object">Probance\M2connector\Console\Command\InitCouponCommand</item>
                <item name="probance_export_catalog" xsi:type="object">Probance\M2connector\Console\Command\ExportCatalogCommand</item>
                <item name="probance_export_customer" xsi:type="object">Probance\M2connector\Console\Command\ExportCustomerCommand</item>
                <item name="probance_export_order" xsi:type="object">Probance\M2connector\Console\Command\ExportOrderCommand</item>
                <item name="probance_export_cart" xsi:type="object">Probance\M2connector\Console\Command\ExportCartCommand</item>
                <item name="probance_export_coupon" xsi:type="object">Probance\M2connector\Console\Command\ExportCouponCommand</item>
                <item name="probance_attribute_list" xsi:type="object">Probance\M2connector\Console\Command\AttributeListCommand</item>
                <item name="probance_ftp_resend" xsi:type="object">Probance\M2connector\Console\Command\FtpResendCommand</item>
                <item name="probance_log_rotate" xsi:type="object">Probance\M2connector\Console\Command\LogRotateCommand</item>
            </argument>
        </arguments>
    </type>
    <type name="Probance\M2connector\Console\Command\InitCatalogCommand">
        <arguments>
            <argument name="catalogProductTierPrice" xsi:type="object">Probance\M2connector\Model\Export\CatalogProductTierPrice\Proxy</argument>
            <argument name="catalogArticleTierPrice" xsi:type="object">Probance\M2connector\Model\Export\CatalogArticleTierPrice\Proxy</argument>
        </arguments>
    </type>
    <type name="Probance\M2connector\Console\Command\ExportCatalogCommand">
        <arguments>
            <argument name="catalogProductTierPrice" xsi:type="object">Probance\M2connector\Model\Export\CatalogProductTierPrice\Proxy</argument>
            <argument name="catalogArticleTierPrice" xsi:type="object">Probance\M2connector\Model\Export\CatalogArticleTierPrice\Proxy</argument>
        </arguments>
    </type>
    <virtualType name="ProbanceLogDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="probance_log_listing_data_source" xsi:type="string">ProbanceLogCollection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="ProbanceLogCollection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">probance_log</argument>
            <argument name="resourceModel" xsi:type="string">Probance\M2connector\Model\ResourceModel\Log</argument>
        </arguments>
    </virtualType>

    <type name="Probance\M2connector\Block\Adminhtml\Export">
        <arguments>
            <argument name="export_entities" xsi:type="array">
                <item name="catalog" xsi:type="array">
                    <item name="label" xsi:type="string">Catalog</item>
                    <item name="value" xsi:type="string">probance_export_catalog</item>
                </item>
                <item name="customer" xsi:type="array">
                    <item name="label" xsi:type="string">Customer</item>
                    <item name="value" xsi:type="string">probance_export_customer</item>
                </item>
                <item name="order" xsi:type="array">
                    <item name="label" xsi:type="string">Order</item>
                    <item name="value" xsi:type="string">probance_export_order</item>
                </item>
                <item name="cart" xsi:type="array">
                    <item name="label" xsi:type="string">Cart</item>
                    <item name="value" xsi:type="string">probance_export_cart</item>
                </item>
                <item name="coupon" xsi:type="array">
                    <item name="label" xsi:type="string">Coupon</item>
                    <item name="value" xsi:type="string">probance_export_coupon</item>
                </item>
            </argument>
        </arguments>
    </type>
    
</config>
