<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!--<event name="customer_save_after_data_object">
        <observer name="probance_customer_save_after" instance="Walkwizus\Probance\Observer\CreateCustomer" />
    </event>
    <event name="controller_action_postdispatch">
        <observer name="probance_cart_save_after" instance="Walkwizus\Probance\Observer\CreateCart" />
    </event>-->
</config>