<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Probance_M2connector" setup_version="1.5.1.0">
        <sequence>
            <module name="Magento_SalesRule"/>
            <module name="Magento_Sales"/>
            <module name="Magento_Customer"/>
            <module name="Magento_Catalog"/>
            <module name="Magento_ConfigurableProduct"/>
        </sequence>
    </module>
</config>
