<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Probance_M2connector::probance"
             title="Probance"
             module="Probance_M2connector"
             sortOrder="10"
             parent="Magento_Backend::system"
             resource="Probance_M2connector::probance"
        />
        <add id="Probance_M2connector::probance_customer_mapping"
             title="Customer Mapping"
             module="Probance_M2connector"
             sortOrder="20"
             action="probance/mapping_customer/index/scope/stores"
             parent="Probance_M2connector::probance"
             resource="Probance_M2connector::probance_customer_mapping"
        />
        <add id="Probance_M2connector::probance_product_mapping"
             title="Product Mapping"
             module="Probance_M2connector"
             sortOrder="30"
             action="probance/mapping_product/index/scope/stores"
             parent="Probance_M2connector::probance"
             resource="Probance_M2connector::probance_product_mapping"
        />
        <add id="Probance_M2connector::probance_article_mapping"
             title="Article Mapping"
             module="Probance_M2connector"
             sortOrder="40"
             action="probance/mapping_article/index/scope/stores"
             parent="Probance_M2connector::probance"
             resource="Probance_M2connector::probance_article_mapping"
        />
        <add id="Probance_M2connector::probance_order_mapping"
             title="Order Mapping"
             module="Probance_M2connector"
             sortOrder="50"
             action="probance/mapping_order/index/scope/stores"
             parent="Probance_M2connector::probance"
             resource="Probance_M2connector::probance_order_mapping"
        />
        <add id="Probance_M2connector::probance_cart_mapping"
             title="Cart Mapping"
             module="Probance_M2connector"
             sortOrder="60"
             action="probance/mapping_cart/index/scope/stores"
             parent="Probance_M2connector::probance"
             resource="Probance_M2connector::probance_cart_mapping"
        />
        <add id="Probance_M2connector::probance_coupon_mapping"
             title="Coupon Mapping"
             module="Probance_M2connector"
             sortOrder="70"
             action="probance/mapping_coupon/index/scope/stores"
             parent="Probance_M2connector::probance"
             resource="Probance_M2connector::probance_coupon_mapping"
        />
        <add id="Probance_M2connector::probance_log"
             title="Error Log"
             module="Probance_M2connector"
             sortOrder="80"
             action="probance/log"
             parent="Probance_M2connector::probance"
             resource="Probance_M2connector::probance_log"
        />
    </menu>
</config>
